apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hf-eco2ai-data
  namespace: hf-eco2ai
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: fast-ssd
